*{
    margin: 0px;
    padding: 0px;
    color: white;
}
body{
background-color: #1a1a1a;
}
/* Navbar CSS */
.main-navbar{
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.navbar{
    width: 80%;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;

}

#logo{
    padding: 10px 5px;
     width: 150px;
     height: 100px;

}
.button{
    /* text-align: right; */
    padding-left: 1090px;
}
#order-btn{
    display: block;
    
    text-decoration: none;
    color: white;
    border: 2px solid white;
    font-size: 20px;
    padding: 5px 15px; 
    width: 100px;
    text-align: center; 
    
}

/* Home Section CSS */

.home{
    background-color:#1a1a1a;
    margin-top: 15px;
}
.main-home{
    padding: 25px;
}
.item-grid1{
    margin: 5px;
    
    display: grid;
    grid-template-columns: repeat(8,auto);
    grid-template-rows: repeat(2,162.34px); 
    grid-column-gap: 15px; 
    grid-row-gap: 15px; 
}
.home-item{
    position: relative;
    /* border: 2px solid white; */
    color: white;
    /* border-radius: 5px; */
    
    
}

#home-item-1{
    position: relative;
    grid-column: 1/3;
    grid-row: 1/3;
    /* border: 1px solid red; */
    /* background: url('../Photos/Capture.JPG') no-repeat center center/cover; */
}
#home-item-1 video{
     width: 353.55px;
     height:339.68px;
     position: absolute;
}

#home-item-3{
    background: url('../Photos/Chocolate\ volcano.jpg') no-repeat center center/cover;
}
#home-item-6{
    background: url('../Photos/fr.jfif') no-repeat center center/cover;
}
#home-item-7{
    background: url('../Photos/1.jfif') no-repeat center center/cover;
}
#home-item-4{
    grid-column: 5/7;
    background: url('../Photos/Puffizza-Pasta.jpg') no-repeat center center/cover;

}

#home-item-9{
    background: url('../Photos/Puff\ Garlic\ Bread.jpg') no-repeat center center/cover;
}
#home-item-11{
    background: url('../Photos/French\ Fries.jpg') no-repeat center center/cover;
}
#home-item-12{
    background: url('../Photos/Puffizza-home.png') no-repeat center center/cover;
}




/* Multiplae Uses Class */

.same{
    display: flex; 
    position: absolute; 
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* color: #ffc107; */
    color: white;
    
    font-size: 50px;
    font-weight: 600;
    /* border: 1px solid #ffc107 ; */
    border: 1px solid white ;
   
}
.same:hover{
    color: #ffc107;
    /* background-color: #ffc107; */
    border: 3px solid #ffc107 ;  
    /* border: 3px solid white ;   */
    
}

/* Section cuppon CSS */


.cuppon-title {
    background-color: black;
    margin: 25px auto;
    width: 97%;
    justify-content: center;
    text-align: center;
}
.cuppon-title h1{

    /* display: block; */
    margin: 5px auto;
    padding: 20px 20px;
    font-size: 25px;
    font-weight: 700;
    color: white;
    text-align: center;
    font-family: 'Rubik', sans-serif;

}
.OandC{
    width: 97%;
    justify-content: center;
    margin: 10px auto;
    padding-top: 20px;
}
.cuppon-img{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(1,200px);
    grid-gap: 15px;
    width: 100%;
}

#item-cuppon-img-1{
    background: url('../Photos/BOGO\ Coupon.png') no-repeat center center/cover;
}
#item-cuppon-img-2{
    background: url('../Photos/Artboard-5.jpg') no-repeat center center/cover;
}
#item-cuppon-img-3{
    background: url('../Photos/Flat\ 20\ coupon.jpg') no-repeat center center/cover;
}

/* Footer CSS */

footer{
    background-color:black;
    margin-top: 100px;
}

.foot{
    width: 80%;
    display: flex;
    margin: 50px auto;
    /* border: 2px solid red; */
}
.col1{
    display: flex;
    /* border:1px solid white; */
    flex-direction: column;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.row-col-main{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.row-col-main p{
    color: white;
    font-family: 'Rubik', sans-serif;
}
.row1-col2{
    margin-left: 35px;
}
#time{
    font-size: 20px;
    color: white;
    font-family: 'Rubik', sans-serif;
}

#reach{
    color: white;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;
}
.row2 p i {
    color: white;
}
.row2 p a{
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-bottom: 3px;
    font-family: 'Rubik', sans-serif;
}

.row3 {
    display: flex;
color: white;
margin-top: 10px;
font-family: 'Rubik', sans-serif;

}
.row3 p{
color: white;
font-size: 20px;
font-weight: 700;
font-family: 'Rubik', sans-serif;

}
.icon{
    margin-left: 13px;
} 
.row3 i{
color: white;
padding-top: 5px;
font-size: 15px;
} 



.franchise{
    display:flex;
    flex-direction: column;
    margin: 20px 150px;
    /* border: 2px solid white; */
    padding-top: 10px; 
    margin-top: 50px;
    margin-bottom: 50px;
}
#fra-head{
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 15px;
}

#mail-fra{
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 17px;
    margin-bottom: 10px;
    
}
#mail-fra a{
    font-family: 'Rubik', sans-serif;
    color: white;

}
.franchise3 {
     margin-bottom: 5px;
}
.franchise3 p i{
    color: white;
}
.franchise3 p a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-left: 5px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
}

.col3{
    /* border: 2px solid red; */
    height: 400px;
    margin: 25px 10px;

}
#stor-loc{
    font-size: 20px;
    color: white; 
    font-family: 'Rubik', sans-serif;
    margin-top: 25px;
    padding-left: 8px;

}
.main-scroll{
    /* border: 2px solid yellow; */
    background-color:#1a1a1a ;
    margin: 2px 5px;
    height: 345px;
}
.scroll{
     width: 340px;
     height: 270px;
     border: 1px solid white;
     overflow-x: hidden;
     margin: 5px 7px;
     padding: 2px 4px;
}
#C-S-P{
    background-color:#484747 ;
    font-size: 20px;
    border: none;
    padding: 7px 5px;
    margin-left: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 296px;
    
}
#btn-2 {
    background-color:#484747 ; 
    border: none;
    padding: 8px 8px;
}
#btn-2 i{
    background-color:#484747 ;
    color: #6f6f6f;
    font-size: 20px;
}
::-webkit-scrollbar{
    width: 5px;
    padding-left: 4px;
}
::-webkit-scrollbar-thumb{
     background: white;
     border-radius: 5px;
     
}
::-webkit-scrollbar-track{
    border: 5px solid black;
}

.scroll-title{
    font-size: 20px;
    padding-left: 20px;
    margin-bottom: 5px;
    font-family: 'Rubik', sans-serif;
}
.scroll-para{
    font-size: 15px;
    padding-left: 20px;
    font-family: 'Rubik', sans-serif;
}
.scroll-number{
    padding-left: 20px;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
}
.scroll-number a{
    padding-left: 20px;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    margin-left: -11px;
    text-decoration: none;
}
hr{
    border: none;
    height: 1px;
    background-color: white;
}